@model TestEx_BelGosLes.Models.DTO.EmployeeDTO

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Company/Show">Companies</a></li>
        <li class="breadcrumb-item"><a asp-action="Show" asp-route-id="@ViewBag.Company.Id" asp-controller="Employee">Employees</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Employee</li>
    </ol>
</nav>

 <form asp-action="Edit" asp-controller="Employee" asp-anti-forgery="true" method="post" enctype="multipart/form-data">

     <div class="container col-10 ">
         <div class="validation" asp-validation-summary="ModelOnly"></div>
     </div>
     <div class="container col-10 ">
         <div class="InputSuccess">@ViewBag.CreateResult</div>
     </div>

     <input type="text" name="Id" asp-for="Id" hidden />
     <input type="text" name="CreateDate" asp-for="CreateDate" hidden />
     <input type="text" name="CompanyId" asp-for="CompanyId" hidden />


     <div class="container col-5 justify-content-center mt-3 ">
         <h2 class="text-center">Edit Employee:</h2>


         <div class="row mt-4 justify-content-start">
             <div class="col-3">
                 <label class="form-label" asp-for="FullName">Full Name:</label>
             </div>
             <div class="col-9">
                 <input type="text" name="FullName" class="form-control" asp-for="FullName" />
                 <span asp-validation-for="FullName" class="col-8" />
             </div>
         </div>

         <div class="row mt-4 justify-content-start">
             <div class="col-3">
                 <label class="form-label" asp-for="Address">Address:</label>
             </div>
             <div class="col-9">
                 <input type="text" name="Address" class="form-control" asp-for="Address" />
                 <span asp-validation-for="Address" class="col-8" />
             </div>
         </div>


         <div class="row mt-4 justify-content-start">
             <div class="col-3">
                 <label class="form-label" asp-for="Phone">Phone:</label>
             </div>
             <div class="col-9">
                 <input type="tel" name="Phone" class="form-control" placeholder="+375001234567" minlength="9" asp-for="Phone" />
                 <span asp-validation-for="Phone" class="col-8" />
             </div>
         </div>


         <div class="row mt-4 justify-content-start">
             <div class="col-3">
                 <label class="form-label" asp-for="Position">Position:</label>
             </div>
             <div class="col-9">
                 <input type="text" name="Position" class="form-control" asp-for="Position" />
                 <span asp-validation-for="Position" class="col-8" />
             </div>
         </div>

         <div class="row mt-4 justify-content-start">
             <div class="col-3">
                 <label class="form-label" asp-for="Department">Department:</label>
             </div>
             <div class="col-9">
                 <input type="text" name="Department" class="form-control" asp-for="Department" />
                 <span asp-validation-for="Department" class="col-8" />
             </div>
         </div>

        

         <div class="row mb-5 mt-4 pb-4 justify-content-center">
             <div class="col-4 ">
                 <a asp-action="Show" asp-route-id="@ViewBag.Company.Id" asp-controller="Employee" class="btn btn-primary  NewProject ">Back</a>
             </div>
             <div class="col-7">
                 <input class="btn btn-primary  NewProject col-7" type="submit" value="Edit">
             </div>
         </div>

     </div>
 </form>



@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}